<launch>
    	<rosparam file="$(find classification)/config/class_config.yaml" />
    	<arg name="class_model_path" default="$(find classification)/config"/>
    	<rosparam param="class/model_name" subst_value="True">$(arg class_model_path)/TaskClassModel</rosparam>
    	<node name="classifier" pkg="classification" type="classifier.py" output="screen"/>
</launch>
